root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.md]
max_line_length = off

[{LICENSE,go.*}]
max_line_length = unset

[Dockerfile]
indent_size = 4

[{*.yml,*.yaml}]
indent_size = 2

[{*.go,go.*}]
indent_style = tab

[lint_test.go]
eclint_indent_style = unset
